<h1 class="page-header">SSJS Injection</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
	<h4 class="sub-header">eval()</h4>
	<form method="GET" action="/ssjs/eval" target="_blank">
	    <div class="form-group">
		<label for="exampleInputEmail1">eval([code])</label>
		<input name="user_data" class="form-control" id="exampleInputEmail1" placeholder="./" value="./">
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
	</form>
        <h4 class="sub-header">Function()</h4>
	<form method="GET" action="/ssjs/function" target="_blank">
	    <div class="form-group">
		<label for="exampleInputEmail1">Function([code])</label>
		<input name="user_data" class="form-control" id="exampleInputEmail1" placeholder="./" value="./">
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
	</form>
    </div>
</div>
