
<h1 class="page-header"><%= name %></h1>
<% include ../partials/rule-info.ejs %>
<% viewData.forEach(function(view) { %>
<div class="row" style="min-height: 200px;">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header"><code>child_process.<%= view.sink %></code></h4>
    <form method="GET"
          action="<%= view.url %>/unsafe"
          target="_blank">
      <div class="form-group">
        <label>Path</label>
        <input name="input" class="form-control" value="ls -ahl ../">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<% }); %>
<% include ../partials/safe-buttons %>
