<h1 class="page-header">Unsafe File Upload</h1>
<p><a target="_blank" href="https://www.owasp.org/index.php/Unrestricted_File_Upload">Unsafe File Upload Info</a></p>

<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <form method="post" enctype="multipart/form-data" action="<%= uri %>/submit" target="_blank">
      <div class="form-group">
        <label for="testFile">Upload a file:</label>
        <input class="form-control" type="file" name="file" id="testFile" />
      </div>
      <div class="form-group">
        <label for="testText">Text Field:</label>
        <input class="form-control" name="input" id="testText" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
