<h1 class="page-header"><%= name %></h1>
<% include ../partials/ruleInfo.ejs %>
<% sinkData.forEach(function(sink) { %>
<div class="row">
  <div class="col-sm-10 col-sm-8" style="padding-bottom: 30px;">
    <h4 class="sub-header">
      <code><%= sink.name %></code>
    </h4>
    <form method="<%= sink.method %>>" action="<%= sink.url %>/unsafe" target="_blank">
      <div class="form-group">
        <label for="name">INPUT: </label>
        <input name="input" class="form-control" id="input" placeholder="Your Name" value='{"rce":"_$$ND_FUNC$$_function (){ console.log(`EXPLOITED!`) }()"}' />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<% }); %>
<% include ../partials/safeButtons %>
