<nav class="banner-dark navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- <div class="navbar-brand"><a href="/">Contrast Hapi Test App</a></div> -->
			<a class="navbar-brand" href="/">Contrast Hapi Test App</a>
		</div>
	</div>
</nav>
