<div id="navbar" class="col-sm-3 col-md-2 sidebar">
  <% include ../../node_modules/@contrast/test-bench-content/partials/nav.ejs %>

  <label>Other Rules</label>
  <!-- <label>NoSQL injection</label> -->
  <ul class="nav nav-sidebar">
    <li><a href="/mongoinjection">mongo-injection</a></li>
  </ul>

  <!-- <label>Sessions</label> -->
	<ul class="nav nav-sidebar">
    <li><a href="/session/httponly">httponly</a></li>
    <li><a href="/session/secureflagmissing">secure-flag-missing</a></li>
  </ul>

	<!-- <label>Header</label> -->
  <ul class="nav nav-sidebar">
    <li><a href="/header-injection">header-injection</a></li>
    <li><a href="/csp-header-insecure">csp-header-insecure</a></li>
  </ul>
</div>
