<div class="container-fluid">
	<div class="row">
		<div title="navbar" class="col-sm-3 col-md-2 sidebar">

			<label>Cross-site scripting</label>
			<ul class="nav nav-sidebar">
				<li><a href="/xss">Reflected XSS</a></li>
			</ul>

			<label>nosqlInjection</label>
			<ul class="nav nav-sidebar">
				<li><a href="/mongoinjection">mongo-injection</a></li>
			</ul>

			<label>SQL Injection</label>
			<ul class="nav nav-sidebar">
				<li><a href="/sqlInjection">SQL Injection</a></li>
			</ul>

			<label>ssjs</label>
			<ul class="nav nav-sidebar">
				<li><a href="/ssjs">ssjs</a></li>
			</ul>

			<label>sessions</label>
			<ul class="nav nav-sidebar">
				<li><a href="/session/httponly">httponly</a></li>
				<li><a href="/session/secureflagmissing">secure-flag-missing</a></li>
			</ul>

			<label>Command Injection</label>
			<ul class="nav nav-sidebar">
				<li><a href="/cmdInjection">cmdInjection</a></li>
			</ul>

			<label>Header</label>
			<ul class="nav nav-sidebar">
				<li><a href="/unvalidatedRedirect">unvalidatedRedirect</a></li>
				<li><a href="/header-injection">header-injection</a></li>
				<li><a href="/csp-header-insecure">csp-header-insecure</a></li>
			</ul>

			<label>File / Path</label>
			<ul class="nav nav-sidebar">
			        <li><a href="/pathTraversal">pathTraversal</a></li>
                                <li><a href="/unsafeFileUpload">unsafeFileUpload</a></li>
			</ul>

			<label>Request Forgery</label>
			<ul class="nav nav-sidebar">
				<li><a href="/ssrf">Server Side Request Forgery</a></li>
			</ul>
      <label>XML External Entity Processing</label>
      <ul class="nav nav-sidebar">
        <li>
          <a href="/xxe">
            <code>libxmljs</code>
          </a>
        </li>
      </ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
	</div>
</div>
