<div class="container-fluid">
	<div class="row">
		<div title="navbar" class="col-sm-3 col-md-2 sidebar">

			<label>reflected-xss</label>
			<ul class="nav nav-sidebar">
				<li><a href="/reflectedxss">reflected-xss</a></li>
			</ul>

			<label>nosql-injection</label>
			<ul class="nav nav-sidebar">
				<li><a href="/mongoinjection">mongo-injection</a></li>
			</ul>

			<label>sql-injection</label>
			<ul class="nav nav-sidebar">
				<li><a href="/sql-injection">sql-injection</a></li>
			</ul>

			<label>ssjs-injection</label>
			<ul class="nav nav-sidebar">
				<li><a href="/ssjs-injection">ssjs-injection</a></li>
			</ul>

			<label>sessions</label>
			<ul class="nav nav-sidebar">
				<li><a href="/session/httponly">httponly</a></li>
				<li><a href="/session/secureflagmissing">secure-flag-missing</a></li>
			</ul>

			<label>Command Injection</label>
			<ul class="nav nav-sidebar">
				<li><a href="/cmd-injection">cmd-injection</a></li>
				<li><a href="/unsafe_eval">unsafe-eval</a></li>
			</ul>

			<label>Header</label>
			<ul class="nav nav-sidebar">
				<li><a href="/unvalidated-redirect">unvalidated-redirect</a></li>
				<li><a href="/header-injection">header-injection</a></li>
				<li><a href="/csp-header-insecure">csp-header-insecure</a></li>
			</ul>

			<label>File / Path</label>
			<ul class="nav nav-sidebar">
			        <li><a href="/path-traversal">path-traversal</a></li>
                                <li><a href="/unsafe-file-upload">unsafe-file-upload</a></li>
			</ul>

			<label>Request Forgery</label>
			<ul class="nav nav-sidebar">
				<li><a href="/ssrf">Server Side Request Forgery</a></li>
			</ul>
      <label>XML External Entity Processing</label>
      <ul class="nav nav-sidebar">
        <li>
          <a href="/xxe">
            <code>libxmljs</code>
          </a>
        </li>
      </ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
	</div>
</div>
