.vscode/
coverage/
node_modules/
# form upload paths
loopback/server/uploads/*
!loopback/server/uploads/.gitkeep
kraken/uploads/*
!kraken/uploads/.gitkeep
fastify/uploads/*
!fastify/uploads/.gitkeep
**/unsafeFileUpload/uploads/*
!**/unsafeFileUpload/uploads/.gitkeep
# agent logs
*.log

# vim swaps
*.swp
*.swo
*.swl
*.swn
*.swm
