.vscode/
coverage/
node_modules/
.DS_Store
# form upload paths
unsafeFileUpload/uploads/*
!unsafeFileUpload/uploads/.gitkeep
contrast_security.y*ml
# agent artifacts - logs, cache etc
*.sqlite3
*.log
*.tsbuildinfo
contrast_effective_config.json
contrast_system_info.json
rewrite_cache/

# copy-scripts.sh
docker-compose.yml
!/scripts/docker-compose.yml
Dockerfile
!/scripts/Dockerfile
Dockerfile-screener
!/scripts/Dockerfile-screener
entry.sh
!/scripts/entry.sh
install-dynamodb-local.sh
!/scripts/install-dynamodb-local.sh
