<h1 class="page-header"><%= name %></h1>
<% include ../partials/ruleInfo.ejs %>
<div class="row">
	<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <div class="alert alert-info">
      <p>Note: This form does nothing, the act of rendering this page will report <code>parameter-pollution</code> finding</p>

    </div>
		<form method="POST">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>


