<h1 class="page-header"><%= name %></h1>
<% include ../partials/ruleInfo.ejs %>

This page was rendered with the following insecure <code>X-XSS-Protection</code> header value:
<br/>
<pre><%= res.getHeader('X-XSS-Protection') %></pre>
