<h1 class="page-header">Server Side JavaScript Injection</h1>
<p>
  <a target="_blank" href="https://ckarande.gitbooks.io/owasp-nodegoat-tutorial/content/tutorial/a1_-_server_side_js_injection.html">
    SSJS Info
  </a>
</p>
<% sinkData.forEach(function(sink) { %>
<div class="row" style="min-height: 200px;">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">
      <code><%= sink.name %></code>
    </h4>
    <form method="<%= sink.method %>" action="<%= sink.url %>/unsafe" target="_blank">
      <div class="form-group">
        <label>JS to execute</label>
        <input name="input" class="form-control" value="'PID: ' + process.pid" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<% }); %>
<% include ../partials/safeButtons %>
