<h1 class="page-header">Unsafe File Upload</h1>

<div class="row">
    <form method="post" enctype="multipart/form-data" action="/unsafe-file-upload/submit" target="_blank">
    <div class="form-group">
      <label for="testFile">Upload a file:</label>
      <input class="form-control" type="file" name="test_file" id="testFile" />
    </div>
    <div class="form-group">
      <label for="testText">Text Field:</label>
      <input class="form-control" name="test_text" id="testText" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
