<nav class="banner-dark navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<div class="navbar-brand">Contrast Hapi Test App</div>
		</div>
	</div>
</nav>
