<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <div class="row">
      <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
        <h4 class="sub-header">Inject text into the HTTP header.</h4>

        <form
          method="GET"
          id="xsspost"
          action="/header-injection/get"
          target="_blank"
        >
          <div class="form-group">
            <input
              name="key"
              class="form-control"
              placeholder="key"
              value="X-Custom"
            />
            <input
              name="value"
              class="form-control"
              placeholder="value"
              value="foo"
            />
          </div>
          <button type="submit" id="post_btn0" class="btn btn-default">
            Inject
          </button>
        </form>
      </div>
    </div>

    <div style="min-height: 300px;">
      &nbsp;
    </div>
  </div>
</div>
