<h1 class="page-header">Http Only Cookie</h1>
<div class="bs-callout bs-callout-warning">
  <h4>Rule Explanation</h4>
  <p>To find out more about http-only <a target="_blank" href="https://owasp.org/www-community/HttpOnly">click here.</a></p>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">HttpOnly missing in cookie</h4>
    <p>
      <a href="httponly/unsafe" target="_blank">test unsafe</a>
    </p>
    <p>
      <a href="httponly/safe" target="_blank">test safe</a>
    </p>
  </div>
</div>
