<h1 class="page-header">Session Cookie Rules</h1>
<div class="row">
  <div class="col-xs-12 cos-sm-6">
    <p>
      <a href="/cookies/safe">
        Valid cookie with <code>secure: true</code>
      </a>
    </p>
    <p>
      <a href="/cookies/httponly">
        Bad cookie with <code>httpOnly: false</code>
      </a>
    </p>
    <p>
      <a href="/cookies/secureFlagMissing">
        Bad cookie with <code>secure: false</code>
      </a>
    </p>
  </div>
</div>
