<h1 class="page-header">Session Cookie Rules</h1>
<div class="row">
  <div class="col-xs-12 cos-sm-6">
    <p>
      <a href="/cookies/httponly">httponly</a>
    </p>
    <p>
      <a href="/cookies/secureFlagMissing">secure-flag-missing</a>
    </p>
  </div>
</div>
