<!DOCTYPE html>
<html lang="en">

	<head>
		<% include ../partials/head %>
	</head>

	<body class="container">

		<header>
			<% include ../partials/header %>
			<% include ../partials/nav %>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
					<main>

						<h1 class="page-header">Command Injection</h1>
						<h3>Sinks</h3>

						<ul>
							<li class="sink-list">

								<span>Node.js <code>child_process</code> module:</span>

								<div class="row" style="min-height: 200px;">
									<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
										<h4 class="sub-header"><code>child_process.exec()</code></h4>
										<form method="GET"
													data-action="/cmd-injection/${type}/${safe}/exec"
													action="/cmd-injection/query/unsafe/exec"
													target="_blank">
											<div class="form-group">
												<label>Path</label>
												<input name="input" class="form-control" value=";ls -ahl ../">
											</div>
											<button type="submit" class="btn btn-default">Submit</button>
										</form>
									</div>
								</div>

								<div class="row" style="min-height: 200px;">
									<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
										<h4 class="sub-header"><code>child_process.execSync()</code></h4>
										<form method="GET"
													data-action="/cmd-injection/${type}/${safe}/exec-sync"
													action="/cmd-injection/query/unsafe/exec-sync"
													target="_blank">
											<div class="form-group">
												<label>Path</label>
												<input name="input" class="form-control" value=";ls -ahl ../">
											</div>
											<button type="submit" class="btn btn-default">Submit</button>
										</form>
									</div>
								</div>

								<hr>

								<div class="row" style="min-height: 200px;">
									<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
										<h4 class="sub-header">
											<code>child_process.exec()</code>
											<span style="color:#339955">(safe)</span>
										</h4>
										<form method="GET"
													action="/cmd-injection/query/safe/exec"
													dat-action="/cmd-injection/${type}/${safe}exec"
													target="_blank">
											<div class="form-group">
												<label>Path</label>
												<input name="input" class="form-control" value=";ls -ahl ./">
											</div>
											<button type="submit" class="btn btn-default">Submit</button>
										</form>
									</div>
								</div>

								<div class="row" style="min-height: 200px;">
									<div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
										<h4 class="sub-header">
											<code>child_process.execSync()</code>
											<span style="color:#339955">(safe)</span>
										</h4>
										<form method="GET"
													action="/cmd-injection/query/safe/exec-sync"
													action="/cmd-injection/${type}/${safe}/exec-sync"
													target="_blank">
											<div class="form-group">
												<label>Path</label>
												<input name="input" class="form-control" value=";ls -ahl ./">
											</div>
											<button type="submit" class="btn btn-default">Submit</button>
										</form>
									</div>
								</div>

							</li>
						</ul>

					</main>

					<footer>
						<% include ../partials/footer %>

						<style type="text/css" id="ssjs-styles">
						 .sink-list { padding-bottom : 3em; }
						 button.method.left, button.method.right {
							 line-height : 12pt;
						 }
						 button.method.left {
							 border-top-right-radius : 0;
							 border-bottom-right-radius : 0;
							 border-right: none;
							 padding-right : .7em;
							 margin-right: 0;
						 }
						 button.method.right {
							 border-top-left-radius : 0;
							 border-bottom-left-radius : 0;
							 border-left: none;
							 padding-left : .7em;
							 margin-left: 0;
						 }
						 button.method.active {
							 color: #333;
							 background-color: #e6e6e6;
							 border-color: #adadad;
						 }
						</style>

						<script type="text/javascript">
						 $(function ( ) {
							 const isSafe = 'unsafe';
							 $('form')
								 .attr('target', 'cmd-injection')
								 .each(( idx, elem ) => {
									 $(elem).find('.form-group').after(
										 $('<button>')
											 .text('GET')
											 .attr('type', 'button')
											 .text('GET')
											 .addClass('method left btn btn-default active')
											 .on('click', ( e ) => {
												 const elem = $(e.target);
												 const form = elem.closest('form');
												 elem.addClass('active');
												 elem.siblings('.method').removeClass('active');
												 form.attr('method', 'GET');
												 form.attr(
													 'action',
													 form.attr('data-action')
															 .replace('${type}', 'query')
															 .replace('${safe}', isSafe));
											 }),
										 $('<button>')
											 .text('POST')
											 .attr('type', 'button')
											 .addClass('method right btn btn-default')
											 .on('click', ( e ) => {
												 const elem = $(e.target);
												 const form = elem.closest('form');
												 elem.addClass('active');
												 elem.siblings('.method').removeClass('active');
												 form.attr('method', 'POST');
												 form.attr(
													 'action',
													 form.attr('data-action')
															 .replace('${type}', 'body')
															 .replace('${safe}', isSafe));
											 }));
								 });
						 });
						</script>

					</footer>

				</div>
			</div>
		</div>

	</body>
</html>
