<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">

		<header>
			<% include ../partials/header %>
			<% include ../partials/nav %>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
					<main>
					<h1 class="page-header">Hapi testing!</h1>

					<div style="min-height: 300px;">
						&nbsp;
					</div>
					</main>

					<footer>
						<% include ../partials/footer %>
					</footer>

				</div>
			</div>
		</div>
	</body>
</html>
