<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Mongo Query String</h4>
    <p>
      <a
        href="mongoinjection/query?input=<script>alert(1)%3B<%%2Fscript>"
        target="_blank"
        >test unsafe</a
      >
    </p>
    <p>
      <a
        href="mongoinjection/querySafe?input=<script>alert(1)%3B<%%2Fscript>"
        target="_blank"
        >test safe</a
      >
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Mongo Path Param</h4>
    <p>
      <a href="mongoinjection/param/'%20onerror='alert(3)" target="_blank"
        >test unsafe</a
      >
    </p>
    <p>
      <a href="mongoinjection/paramSafe/'%20onerror='alert(3)" target="_blank"
        >test safe</a
      >
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Mongo Form Body</h4>

    <form
      method="POST"
      id="xsspost"
      action="/mongoinjection/post"
      target="_blank"
    >
      <div class="form-group">
        <input
          name="input"
          class="form-control"
          placeholder="input"
          value="bob"
        />
      </div>
      <button type="submit" id="post_btn0" class="btn btn-default">
        Unsafe
      </button>
      <button type="button" id="post_btn1" class="btn btn-default">Safe</button>
      <script>
        document.getElementById('post_btn1').onclick = function() {
          const form = document.getElementById('xsspost');
          form.action = '/mongoinjection/postSafe';
          form.submit();
        };
      </script>
    </form>
  </div>
</div>

<div style="min-height: 300px;">
  &nbsp;
</div>
