<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">HttpOnly missing in cookie</h4>
    <p>
      <a href="httponly/unsafe" target="_blank">test unsafe</a>
    </p>
    <p>
      <a href="httponly/safe" target="_blank">test safe</a>
    </p>
  </div>
</div>

<div style="min-height: 300px;">
  &nbsp;
</div>
