<label>Rules</label>
<ul class="nav nav-sidebar">
  <% navRoutes.forEach(({ name, base, products }) => { %>
  <li>
    <a href="<%= base %>">
      <%= name %>
      <% products.forEach((product) => {%>
      <span class="badge pull-right <% if(product === 'Protect') { %>badge-info<% } else { %>badge-success<%}%>">
        <%= product %>
      </span>
      <% }); %>
    </a>
  </li>
  <% }); %>
</ul>
