<h1 class="page-header">Cookie rules with Sails</h1>
<div class="bs-callout bs-callout-warning">
    <h4>Rule Explanation</h4>
    <p>This page will affect properties set on a cookie</p>
    <p>To find out more about http-only <a target="_blank" href="https://owasp.org/www-community/HttpOnly">click here.</a></p>
    <p>To find out more about secure flag <a target="_blank" href="https://owasp.org/www-community/controls/SecureCookieAttribute">click here.</a></p>
</div>
<div class="row" style="min-height: 200px;">
    <div class="col-xs-12 col-sm-6">
        <p><a href="/cookies/safe">Valid cookie with <code>secure: true</code></a></p>
        <p><a href="/cookies/httponly">Bad cookie with <code>httpOnly: false</code></a></p>
        <p><a href="/cookies/secureFlagMissing">Bad cookie with <code>secure: false</code></a></p>
    </div>
</div>
