<h1 class="page-header">Secure Flag Missing in Cookie</h1>
<div class="bs-callout bs-callout-warning">
  <h4>Rule Explanation</h4>
  <p>To find out more about secure-flag-missing <a target="_blank" href=""https://owasp.org/www-community/controls/SecureFlag>click here.</a></p>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Secure flag missing in cookie</h4>
    <p>
      <a href="secureflagmissing/unsafe" target="_blank">test unsafe</a>
    </p>
    <p>
      <a href="secureflagmissing/safe" target="_blank">test safe</a>
    </p>
  </div>
</div>
