<h1 class="page-header">Cookie rules with express-session</h1>
<div class="bs-callout bs-callout-warning">
  <h4>Rule Explanation</h4>
  <p>This page will affect properties set on a cookie</p>
  <p>To find out more about http-only <a target="_blank" href="https://owasp.org/www-community/HttpOnly">click here.</a></p>
  <p>To find out more about secure flag <a target="_blank" href=""https://owasp.org/www-community/controls/SecureFlag>click here.</a></p>
</div>
<div class="row" style="min-height: 200px;">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <p>By clicking submit, it will get the insecure cookie from the session.</p>
    <form method="GET" action="/express-session/xss" target="_blank">
      <div class="form-group">
        <input name="input" class="form-control" value="This is a test">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

