<h1 class="page-header">XML External Entity Processing</h1>
<div class="row">
  <div class="col-sm-10 col-sm-8" style="padding-bottom: 30px;">

    <h4>Exploitation of <code>libxmljs</code> module</h4>

    <form method="POST" action="/xxe/unsafe">
      <p>
	The following XML snippet is crafted to exploit SAX parsers that
	are configured to allow for external entity processing. If successful,
	the exploit will instruct the parser to read the <code>/etc/passwd</code>
	file from the server's file system.
      </p>

      <pre id="attack-xml"><%=ATTACK_XML%>></pre>

      <br/>
      <br/>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
