<div id="navbar" class="col-sm-3 col-md-2 sidebar">
    <% include ../../../node_modules/@contrast/test-bench-utils/public/partials/nav.ejs %>
    <label>Other Rules</label>
    <ul class="nav nav-sidebar">
        <li><a href="/cookies">Session Cookie Rules</a></li>
    </ul>
</div>
