<div class="col-sm-3 col-md-2 sidebar">
  <label>Rules</label>
  <ul class="nav nav-sidebar">
    <% navRoutes.forEach(({ name, base: baseUri, products }) => { %>
    <li>
      <a href="<%= baseUri %>">
        <%= name %>
        <% products.forEach((product) => {%>
        <span class="badge pull-right <% if(product === 'Protect') { %>badge-info<% } else { %>badge-success<%}%>">
          <%= product %>
        </span>
        <% }); %>
      </a>
    </li>
    <% }); %>
  </ul>
</div>
